main {
    width: 85%;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
}


.profile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.profile img {
    width: 30%;
    height: auto;
    object-fit: contain;
}

.profile .details {
    display: flex;
    flex-flow: column nowrap; 
    padding-top: 24px;
    padding-bottom: 24px;
}

.profile .details .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile .details .row i {
    font-size: 28px;
    padding-right: 24px;
}

.profile .details .row label {
    padding-right: 8px;
    padding-right: 8px;
    min-width: 500px;
}

.orders {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.orders h1 {
    padding-bottom: 24px;
}

.orders table {
    border-collapse: collapse;
    text-align: center;
    font-size: 24px;
    table-layout: fixed;
}

.big-table {
    width: 100%;
}

.small-table {
    width: max-content;
    margin-left: 32px;
}

.small-table th,
.small-table td {
    border-top: none;
    border-bottom: none;
}

th, td {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-left: 18px;
    padding-right: 18px;
}

table img {
    width: 200px;
    height: auto;
    object-fit: contain;
}

td.no-border {
    border-bottom: none;
}

.underline:hover {
    cursor: pointer;
    text-decoration: underline;
}

