
#main-window{
  font-family:'Arial Light', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
}
input{
  font-size: 1.5em;
  width: 100%;
  padding: 1%;
}
h1{
  margin:1%;
}
img{
 
}
p{
  margin: 0;
}
button{
  background-color: #4287f5;
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;

}
.loginInputBox{
  width: 50%;
  margin-top: 1%;
}
#submit-button{
  width: 50%;
  text-align: right;
  margin-top: 3%;
}
#link-to-register{
  width: 50%;
  text-align: left;

}