#main-window{
  font-family:'Arial Light', sans-serif;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
}
input{
  font-size: 1.5em;
  box-sizing: border-box;
  width: 100%;
  padding: 1%;
}
h1{
  margin:1%;
  font-weight: normal;
}
/* img{
 
} */
p{
  margin: 0;
}
button{
  background-color: #4287f5;
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;

}
.loginInputBox{
  width: 50%;
  margin-top: 1%;
}
#submit-button{
  width: 50%;
  text-align: right;
  margin-top: 3%;
}
#link-to-register{
  width: 50%;
  text-align: left;

}
button:hover{
  opacity: 70%;
}
a:hover{
  opacity: 70%;
}
/* 1.img size
2.js */