main {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(../img/many_laptops_opa_7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.filters {
    width: 20%;
    height: 500px;
    background-color: rgb(66, 93, 94);
}

.shelf {
    width: 80%;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 5px;
}

.shelf .dropdown {
    text-align: right;
    width: fit-content;
    padding: 8px;
    font-size: 17px;
    line-height: 1.3;
    margin-left: 10px;
}

.shelf .products {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
}

.shelf .products .product {
    width: 360px;
    height: 330px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    perspective: 1000px;
    background-color: rgba(255, 255, 255, 0.65);
}

.product .inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product:hover .inner{
    transform: rotateY(180deg);
}

.inner .front,
.inner .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.inner .front {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.inner .front .name {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
}

.inner .front .date {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 5px;
}

.inner .front img {
    width: 250px;
    height: 150px;
    object-fit: contain;
    padding-top: 20px;
    padding-bottom: 10px;
}

.inner .front .price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.inner .back {
    font-size: 20px;
    transform: rotateY(180deg);
    border-collapse: collapse;
}

.back tr:nth-child(even) {
    background-color: rgb(214, 213, 213);
}

.product:hover{
    cursor: pointer;
}

.shelf .pages {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
}

.shelf .pages .page-btn{
    font-size: 20px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid rgb(187, 185, 185);
    background-color: white;
}

.shelf .pages .page-btn.current {
    font-weight: 900;
}

.shelf .pages .page-btn:hover{
    cursor: pointer;
}
